<%= link_to game_path(game) do  %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= game.name %></h2>
      <p>Category: <%= game.category %></p>
      <p>Players: <%= game.player_min %> - <%= game.player_max %></p>
      <p>Price per day: <%= game.price_per_day %></p>
    </div>
  </div>
<% end  %>
