<div class="user-profile-info">
  <p><span class="user-profile-info-title">First name:</span> <%= @user.first_name %></p>
  <p><span class="user-profile-info-title">Last name:</span> <%= @user.last_name %></p>
  <p><span class="user-profile-info-title">Number of games:</span> <%= @user.games.count %></p>
  <p><span class="user-profile-info-title">Email:</span> <%= @user.email %></p>
  <p><span class="user-profile-info-title">Address:</span> <%= @user.address %></p>
  <p><span class="user-profile-info-title">Phone number:</span> <%= @user.phone_number %></p>
  <p><span class="user-profile-info-title">Description:</span> <%= @user.bio %></p>
</div>
