<div class="container">
  <h1>New game</h1>
  <%= simple_form_for @game do |f| %>
    <%= f.input :name, placeholder: "Game name", input_html: { class: "default-input" } %>
    <%= f.input :description, placeholder: "Tell us your story...", input_html: { class: "default-input" } %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "primary-btn" %>
  <% end %>

</div>
